<div class="container">
    <div class="header">
        <button mat-raised-button color="primary" (click)="logout()" class="btn btn-primary">Déconnexion</button>
            <ul class="nav-list">
                <li class="nav-item">
                    <button mat-raised-button color="primary" routerLink="/accueil" class="home-button">Accueil</button>
                </li>
                <li class="nav-item">
                    <button mat-raised-button color="primary" routerLink="/add-event" class="home-button" style="color:red;">Ajouter données</button>
                </li>
                <li class="nav-item">
                    <button mat-raised-button color="primary" routerLink="/modify-event" class="home-button">Modifier données</button>
                </li>
                <li class="nav-item">
                    <button mat-raised-button color="primary" routerLink="/delete-event" class="home-button">Supprimer données</button>
                </li><br>
            </ul>     
    </div>
    <h1 mat-dialog-title>Ajouter un évènement</h1>
    <div mat-dialog-content>
        <form [formGroup]="formData" (ngSubmit)="submitData()">
            <!-- Affichez les catégories -->
            <div *ngFor="let category of categories">
                <input type="radio" name="category" [value]="category.id" (change)="onCategoryChange(category.id)" [checked]="category.selected">
                {{ category.name }}
            </div>
        
            <!-- Affichez les colonnes de la catégorie sélectionnée --> 
            <div *ngFor="let column of selectedCategoriesColumns">
                <label>{{ column }}</label>
                <input type="text" [value]="formData.get(column)?.value" (input)="onInput($event, column)">
            </div>
            <button type="button" mat-button mat-dialog-close color="primary" (click)="submitData()">Soumettre Ajout</button>
    
        </form>
    </div>
    <div mat-dialog-actions>
        <!-- Réutilisez le bouton si nécessaire -->
        
    </div>
</div>