<div class="container">
    <div class="header">
        <button mat-raised-button color="primary" (click)="logout()" class="btn btn-primary">Déconnexion</button>
            <ul class="nav-list">
                <li class="nav-item">
                    <button mat-raised-button color="primary" routerLink="/accueil" class="home-button" style="color:red;">Accueil</button>
                </li>
                <li class="nav-item">
                    <button mat-raised-button color="primary" routerLink="/add-event" class="home-button">Ajouter données</button>
                </li>
                <li class="nav-item">
                    <button mat-raised-button color="primary" routerLink="/modify-event" class="home-button">Modifier données</button>
                </li>
                <li class="nav-item">
                    <button mat-raised-button color="primary" routerLink="/delete-event" class="home-button">Supprimer données</button>
                </li><br>
            </ul>     
    </div>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let suggestion of suggestions" hideToggle [ngClass]="getBackgroundColor(suggestion.type)">
            <mat-expansion-panel-header>
                <mat-checkbox [(ngModel)]="suggestion.selected"></mat-checkbox>
                <mat-panel-title>
                    {{suggestion.dateSub}} - {{suggestion.type}}
                </mat-panel-title>
                <mat-panel-description>
                    {{suggestion.date}} - {{suggestion.title}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{suggestion.description}}</p>
        </mat-expansion-panel>
    </mat-accordion>
    <button mat-raised-button color="primary" (click)="validate()" id="valider">Valider</button>
    <button mat-raised-button color="warn" (click)="ignore()" id="ignorer">Ignorer</button>
   <!--<button mat-raised-button (click)="manageHistoricalEvents()" class="buttonEvent">Gérer les événements historiques</button> --> 
    <footer class="col-md-6 text-center">
        <div *ngIf="alert" id="divErreur" class="alert alert-danger" role="alert">
            <p id="erreur" name="errorMessage"> {{ errorMessage }}</p>
        </div>
    </footer>
</div>