h2 {
    margin-top: 50px
}

mat-card-actions {
    align-items: center;
}

button {
    margin: 20px;
    margin-left: 0px;
}

.suggestion-create {
    background-color: rgb(216, 255, 228);
}

.suggestion-delete {
    background-color: rgb(255, 225, 225);
}

.suggestion-update {
    background-color: rgb(255, 237, 198);
}