<div class="header">
    <button (click)="logout()" class="btn btn-primary">Déconnexion</button>
</div>

<div class="sidebar">
    <h3>Liste de suggestions</h3>
    <div *ngFor="let suggestion of suggestions" class="suggestion">
        <input type="checkbox" [(ngModel)]="suggestion.selected">
        <span>{{suggestion.dateSub}} {{suggestion.type}} {{suggestion.title}} {{suggestion.date}} {{suggestion.description}} </span>
    </div>
</div>

<div class="content">
    <div class="buttons">
        <button (click)="validate()" id="valider">Valider</button>
        <button (click)="ignore()" id="ignorer">Ignorer</button>

    </div>

</div>
<button (click)="manageHistoricalEvents()" class="buttonEvent">Gérer les événements historiques</button>
<footer class="col-md-6 text-center">
    <div *ngIf="alert" id="divErreur" class="alert alert-danger" role="alert">
        <p id="erreur" name="errorMessage"> {{ errorMessage }}</p>
    </div>
</footer>