h2 {
    margin-top: 50px
}

mat-card-actions {
    align-items: center;
}

.button {
    margin: 20px;
    margin-left: 0px;
}

.button2 {
    margin: 20px;
}

.buttonSearch {
    margin-right: 10px;
}