<h1 mat-dialog-title>Change Categorie</h1>
<div mat-dialog-content>
  <form #form="ngForm">
    <h2 class="subtitle">Sélectionner une catégorie :</h2>
    <div class="category-dropdown">
      <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="selectedCategories" name="selectedCategories" (selectionChange)="loadDates()">
          <mat-option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <h2 class="subtitle">Sélectionner des dates :</h2>
    <div class="category-dropdown">
      <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="selectedDates" name="selectedDates" multiple>
          <mat-option *ngFor="let date of dates" [value]="date.id"> {{ date.nom }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
  </form>
</div>
<mat-card-actions>
  <button mat-raised-button color="primary" class="button" (click)="emitData()">Suivant</button>
</mat-card-actions>