<script src="https://d3js.org/d3.v7.min.js"></script>
<div id="top">
    <button mat-raised-button color="primary" routerLink="/" class="home-button">Deconnexion</button>
    <button mat-raised-button color="primary" routerLink="/accueil" class="home-button">Accueil</button>
    <div class="download-format">

        <mat-form-field>
            <mat-select [(ngModel)]="selectedFormat">
                <mat-option value="svg">SVG</mat-option>
                <mat-option value="png">PNG</mat-option>
                <mat-option value="pdf">PDF</mat-option>
                <mat-option value="csv">CSV</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Bouton Exporter la frise -->
        <button mat-raised-button color="primary" (click)="exportTimeline()" class="export-button">Exporter la frise</button>

        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Modifier</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="changeCategories()"><mat-icon>edit</mat-icon>Catégories</button>
            <button mat-menu-item (click)="changeDates()"><mat-icon>edit</mat-icon>Dates</button>
            <button mat-menu-item (click)="changeTimelineStyle()"><mat-icon>edit</mat-icon>Style</button>
        </mat-menu>
        <button mat-raised-button color="primary" (click)="addEvent()">Ajouter</button>

    </div>
</div>

<!-- Frise générée -->
<div #friseContainer class="frise-container my-custom-frise"></div>