.home-button {
    margin-top: 20px;
}


/* Styles pour la liste de choix de format de téléchargement */

.download-format {
    width: 100%;
    margin-top: 20px;
    text-align: right;
}

#top {
    display: flex;
    flex-direction: row;
}


/* Styles pour la frise générée */

.timeline {
    margin-top: 20px;
    /* Ajoutez ici les styles spécifiques à la frise générée */
}


/* Styles pour le conteneur des boutons */

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}


/* Styles pour les boutons Changer les catégories, Changer le style de la frise et Envoyer une suggestion pour une modification */

.infographic {
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 20%;
    position: absolute;
    z-index: 3;
    text-align: center;
    height: auto;
}

line.timeline {
    stroke-width: 20px;
    stroke: black;
}

circle.dot {
    fill: #D4F6F0;
}

button {
    margin: 5px;
}

mat-form-field {
    width: 100px;
}

.frise-container {
    width: 100%;
    margin-top: 20px; /* Ajustez selon vos besoins */
  }