<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de Connexion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="login.component.css">
</head>

<body>
    <div class="container rounded-container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Connexion administrateur</h2>
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="login">Nom d'utilisateur</label>
                        <input name="login" type="text" class="form-control" [(ngModel)]="email" placeholder="Entrez votre nom d'utilisateur">
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input name="password" type="password" class="form-control" [(ngModel)]="password" placeholder="Entrez votre mot de passe">
                    </div>
                    <button type="submit" class="btn btn-primary">Se connecter</button>
                </form>
            </div>
        </div>
    </div>
</body>

<footer class="col-md-6 text-center">
    <div *ngIf="alert" id="divErreur" class="alert alert-danger" role="alert">
        <p id="erreur" name="errorMessage"> {{ errorMessage }}</p>
    </div>
</footer>