<h1 mat-dialog-title>Change Style</h1>
<div mat-dialog-content>
    <mat-radio-group [(ngModel)]="color">
        <mat-radio-button name="blue" type="radio" name="couleur" value="#0000FF"> Bleu</mat-radio-button>
        <mat-radio-button name=" red " type="radio " name="couleur " value="#FF0000 "> Rouge</mat-radio-button>
        <mat-radio-button name="green" type="radio" name="couleur" value="#008000"> Vert</mat-radio-button>
        <mat-radio-button name=" yellow " type="radio " name="couleur " value="#FFFF00 "> Jaune</mat-radio-button>
    </mat-radio-group>

</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary" (click)="emitData()">Enregistrer</button>
    <button mat-button mat-dialog-close>Annuler</button>
</div>