<!-- avancees.component.html -->
<button mat-raised-button color="primary" routerLink="/accueil" class="home-button">Retour</button>
<h1> AVANCEES : </h1>

<div *ngIf="avanceesData" class="table-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Date Avancee</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let avancee of avanceesData" class="table-row">
        <td>{{ avancee.id }}</td>
        <td>{{ avancee.nom }}</td>
        <td>{{ avancee.date_avancee }}</td>
        <td>{{ avancee.description }}</td>
      </tr>
    </tbody>
  </table>
</div>