<h1 mat-dialog-title>Change Date</h1>
<div mat-dialog-content>
    <form #form="ngForm">
        <mat-slider min="1850" max="2030" discrete [displayWith]="formatLabel">
            <input name="startDate" matSliderStartThumb [(ngModel)]="startDate">
            <input name="endDate" matSliderEndThumb [(ngModel)]="endDate">
        </mat-slider>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary" (click)="emitData()">Enregistrer</button>
    <button mat-button mat-dialog-close>Annuler</button>
</div>