.popup-form {
    width: 400px;
    padding: 20px;
    margin: 20px;
}

.popup-form h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.popup-form .category {
    margin-bottom: 10px;
}

.popup-form .actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.popup-form .actions button {
    margin-left: 10px;
}

.checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
}

mat-slider {
    margin-top: 40px;
    width: 95%;
}