/* You can add global styles to this file, and also import other style files */
html, body {  
    background-image: url('/assets/images/fd_accueil.jpg');
    background-size: cover;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    overflow:hidden;
    height: 100vh; /* Utilisez la hauteur de la fenêtre visible pour couvrir l'écran entier */
    align-items: center; /* Centre le contenu verticalement */
    justify-content: center; /* Centre le contenu horizontalement */
 }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
