<button mat-raised-button color="primary" routerLink="/accueil" class="home-button">Retour</button>
<h1> PERSONNALITES : </h1>

<div *ngIf="personnalitesData" class="table-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Date de Naissance</th>
        <th>Date de Mort</th>
        <th>Biographie</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let personnalite of personnalitesData" class="table-row">
        <td>{{ personnalite.id }}</td>
        <td>{{ personnalite.nom }}</td>
        <td>{{ personnalite.date_naissance }}</td>
        <td>{{ personnalite.date_fin }}</td>
        <td>{{ personnalite.biographie }}</td>
      </tr>
    </tbody>
  </table>
</div>