body {
    background-image: url('/assets/images/fd_accueil.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh; /* Utilisez la hauteur de la fenêtre visible pour couvrir l'écran entier */
    display: flex;
    align-items: center; /* Centre le contenu verticalement */
    justify-content: center; /* Centre le contenu horizontalement */
}
.container {
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.form-group {
    background-color: #f8f9fa;
    bottom: 0;
    right: 0;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #495057;
    font-size: 16px;
}
.form-group input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ced4da;
    background-color: #ffffff;
    color: #495057;
}
button {
    background-color: white; /* cette valeur de couleur correspond à la teinte marron désirée */
    border: none;
    color: #8B4513;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition:  0.3s;
}