<!-- Bouton Home -->

<!-- Liste de choix de format de téléchargement -->
<div id="top">
    <button mat-raised-button color="primary" (click)="logout()" class="home-button">Déconnexion</button>
    <button mat-raised-button color="primary" routerLink="/friseparam1" class="home-button">Générer frise chronologique</button>

    <button mat-raised-button color="primary" class="home-button">{{userStatus}}</button>
    <button *ngIf="userStatus === 'admin'" mat-raised-button color="primary" routerLink="/submission" class="home-button">Administration</button>
    <button mat-raised-button color="primary" routerLink="/suggestion" class="home-button"> Suggestion</button>
</div>
<div class="onglet">
    <div>
        <a routerLink="/avancees">Avancées</a>
        <a routerLink="/entreprises">Entreprises</a>
        <a routerLink="/evenementshistoriques">Evenements Historiques</a>
        <a routerLink="/evenementsinformatiques">Evenements Informatiques </a>
        <a routerLink="/distinctions">Distinctions</a>
    </div>
    <div>
        <a routerLink="/personnalites">Personnalités</a>
        <a routerLink="/generationsinformatique">Générations Informatiques</a>
        <a routerLink="/domaines">Domaines</a> 
        <a routerLink="/programmes">Langages de Programmation</a> <!-- Programmes-->
    </div>
 </div>

